<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Gestion Des Travaux Pratiques</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	<style>
		body {
			display: grid;
			grid-template-columns: auto 1fr;
			min-height: 100vh;
			overflow-x: hidden;

		}


		.content {
			padding-left: 40px;
		}
	</style>
</head>

<body>
	<div th:replace="sidebar-fragment"></div>
	<div class="content">
		<div th:switch="${studentPWs}" class="relative flex flex-col w-11/12 p-5 m-10 justify-center items-center">
			<form th:action="@{/prof/getetudiants}" method="get" id="myForm">
				<select name="id" required
					class="absolute top-1 left-5 px-3 py-1.5 rounded font-semibold text-white bg-gray-900 hover:bg-gray-500"
					onchange="submitForm()">
					<option value="">Choisir groupe</option>
					<option th:each="groupe : ${groupes}" th:value="${groupe.id}"
						th:text="|${groupe.code} ${groupe.year}|"></option>

				</select>
			</form>
			<form th:action="@{/prof/gettpetudiants}" method="get" id="myformf">
				<select required name="id"
					class="absolute top-1 right-5 px-3 py-1.5 rounded font-semibold text-white bg-gray-900 hover:bg-gray-500"
					onchange="submitFormf()">
					<option value="">Choisir etudiant</option>
					<option th:each="student : ${students}" th:value="${student.id}"
						th:text="|${student.firstName} ${student.lastName}|"></option>

				</select>
			</form>
			<h2 th:case="null" class="text-xl font-semibold my-4">pas de Tps pour le moment</h2>
			<div th:case="*" class="w-full text-center">
				<h2 class="text-2xl font-semibold my-8 w-full py-2 bg-gray-900 rounded-lg text-white shadow-2xl">La
					Liste Des Tp Realisés</h2>
				<div class="grid grid-cols-3 gap-3 w-full">
					<div th:each="studentpw,stat : ${studentPWs}"
						class="relative justify-center items-center flex flex-col bg-gray-600 rounded-lg shadow-2xl p-3 mb-4 mx-2">

						<span class="text-center mb-3">
							<p th:text="|Etudiant  :  ${studentpw.student.firstName} ${studentpw.student.lastName}|"
								class="text-2xl font-bold text-white"></p>
							<p th:text="|Groupe  :  ${studentpw.student.groupe.code}|" class="text-xl  text-white "></p>
							<p th:text="|Tp  :  ${studentpw.pw.title}|" class="text-lg  text-white "></p>
							<p th:text="|La date : ${studentpw.date}|" class="text-lg  text-white"></p>
							<p th:text="|Remarque : ${studentpw.remarque}|" class="text-lg text-white"></p>
							<p th:text="|Note : ${studentpw.note}|" class="text-lg text-white"></p>
						</span>

						<div class="flex">
							<span class="  pb-3 mb-2 w-1/3">
								<img th:if="${photo1 != null && photo1[stat.index] != null && photo1[stat.index] != ''}"
									th:src="'data:image/jpeg;base64,' + ${photo1[stat.index]}" alt="Tp Photo"
									class="w-full h-40 " />
								<p class=" text-xl text-white">Internes</p>
								<p th:text="${studentpw.internes}" class="font-bold text-md text-white"></p>
							</span>
							<span class="  pb-3 mb-2 w-1/3">
								<img th:if="${photo2 != null && photo2[stat.index] != null && photo2[stat.index] != ''}"
									th:src="'data:image/jpeg;base64,' + ${photo2[stat.index]}" alt="Tp Photo"
									class="w-full h-40 " />
								<p class=" text-xl text-white">Externes</p>
								<p th:text="${studentpw.externes}" class="font-bold text-md text-white"></p>

							</span>
							<span class="  pb-3 mb-2 w-1/3">
								<img th:if="${photo3 != null && photo3[stat.index] != null && photo3[stat.index] != ''}"
									th:src="'data:image/jpeg;base64,' + ${photo3[stat.index]}" alt="Tp Photo"
									class="w-full h-40 mr-4  " />
								<p class="text-xl text-white">Depouilles</p>
								<p th:text="${studentpw.depouilles}" class="font-bold text-md text-white"></p>

							</span>
						</div>
						<button type="button"
							class="bg-white text-black hover:bg-black hover:text-white rounded-full p-2">
							<a th:href="@{/prof/valider/{studentId}/{pwId}(studentId=${studentpw.id.student_id}, pwId=${studentpw.id.pw_id})}"
								class="flex items-center">
								<span style="font-size: 1.2rem; font-family: 'Amiri', sans-serif;">valider</span>

							</a>
						</button>






					</div>
				</div>
			</div>
		</div>
		<div th:if="${mode eq 'valider'}"
			class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50 backdrop-blur-sm">
			<div class="relative h-3/5 w-2/3 flex flex-col items-center justify-center">
				<form th:action="@{/prof/validerremarque/{id1}/{id2}(id1=${studentId}, id2=${pwId})}" method="post"
					class="w-full max-w-sm mx-auto flex flex-col items-center justify-center p-8 bg-white rounded-lg shadow-md border-4 border-black justify-center items-center">




					<p class="text-xl font-bold mb-4 text-gray-900">valider tp</p>


					<div class="w-4/5 flex flex-col my-4">
						<label for="name" class="block text-lg font-medium text-gray-900 font-bold mb-2">Remarque
							:</label>
						<input id="name" type="text" placeholder="Entrez le remarque"
							class="rounded text-sm py-2 px-4 my-2 w-full bg-violet-100 border text-violet-700 border-violet-500 focus:outline-none focus:ring focus:border-violet-700 "
							name="remarque">
					</div>

					<span class="w-full flex justify-between items-center mt-4">
						<div class="flex justify-center items-center">
							<button type="submit"
								class="bg-black text-white hover:bg-white hover:text-black  font-medium px-4 py-1.5 rounded-md ">Submit</button>
						</div>
						<a href="/prof/studentpw" class="text-gray-900 ">
							<i class="bi bi-x-lg"></i>
						</a>
					</span>
				</form>
			</div>
		</div>

	</div>
	<script>
		function submitForm() {
			document.getElementById('myForm').submit();
		}
		function submitFormf() {
			document.getElementById('myformf').submit();
		}

	</script>

</body>


</body>

</html>